/* AddList_________________ */
.add-list form {
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-list label {
  font-size: 0.9rem;
  width: 70px;
}