/* Header____________________ */
.header {
  background: var(--primary-clr);
  text-align: left;
  padding: 0.5rem;
  padding-left: 2rem;
}

.header h1 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

/* 870px Breakpoint_______________________ */
@media (max-width: 870px) {
  .header {
    text-align: center;
  }
}