/* Header____________________ */
.header {
  background: var(--primary-clr);
  text-align: center;
  padding: 0.5em;
}

.header h1 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 300;
  margin: 0.5rem 0;
}